.accordion {
  margin: 0 auto;
  padding: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--radius-xs);
  width: 40rem;
}

.accordion h3 {
  margin: 0;
  padding: 0;
}

.accordion:focus-within {
  border-color: var(--color-gray-200);
}

.accordion:focus-within h3 {
  background-color: var(--color-gray-200);
}

.accordion > * + * {
  border-top: 1px solid var(--color-gray-200);
}

.accordion-trigger {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: var(--spacing-6);
  position: relative;
  text-align: left;
  width: 100%;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
  background: var(--color-primary-semi);
  color: var(--color-primary);
}

.accordion-trigger:focus {
  outline: 1px solid var(--color-gray-200);
}

.accordion > *:first-child .accordion-trigger,
.accordion > *:first-child {
  border-radius: 5px 5px 0 0;
}

.accordion > *:last-child .accordion-trigger,
.accordion > *:last-child {
  border-radius: 0 0 5px 5px;
}

button {
  border-style: none;
}

.accordion button::-moz-focus-inner {
  border: 0;
}

.accordion-title {
  display: block;
  pointer-events: none;
  border: transparent 2px solid;
  border-radius: 5px;
  padding: 0.25em;
  outline: none;
}

.accordion-trigger:focus .accordion-title {
  /* border-color: var(--color-primary-semiLight); */
  color: var(--color-primary);
}

.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  height: 1rem;
  pointer-events: none;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 1rem;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
  border-color: var(--color-primary);
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
  transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
  margin: 0;
  padding: 1em 1.5em;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  label {
    color: var(--color-gray-600);
  }
}

input {
  width: 100%;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--spacing-6);
  display: block;
  font-size: inherit;
  padding: var(--spacing-6);
  margin-bottom: var(--spacing-10);
  outline: none;
  &:focus {
    border: 1px solid var(--color-primary-semiLight);
  }
}
