/* color */
:root {
  /* primary */
  --color-primary: #4265ed;
  --color-primary-medium: #3554cc;
  --color-primary-dark: #1e2c65;
  --color-primary-light: #f6f9fc;
  --color-primary-semiLight: #8cadff;
  --color-primary-semi: #e1eaff;

  /* gray */
  --color-gray-100: #f7f7f7;
  --color-gray-200: #ededed;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #cccccc;
  --color-gray-500: #c0c0c0;
  --color-gray-600: #868686;
  --color-gray-700: #777777;
  --color-gray-800: #555555;
  --color-gray-900: #2a2a2a;

  --color-white: #fff;
  --color-black: #000;

  /* success */
  --color-success: #28a745;
  --color-success-dark: #117428;
  --color-success-light: #cfebd6;

  /* danger */
  --color-danger: #dc3545;
  --color-danger-dark: #ac1c2a;
  --color-danger-light: #fddee1;

  /* warning */
  --color-warning: #ffc107;
  --color-warning-dark: #ce9b00;
  --color-warning-light: #ffeaac;

  /* info */
  --color-info: #17a2b8;
  --color-info-dark: #127888;
  --color-info-light: #d5ecf0;

  /* font-size */
  --font-size-xxl: 2.8rem;
  --font-size-xl: 2.4rem;
  --font-size-l: 2rem;
  --font-size-ml: 1.8rem;
  --font-size-m: 1.6rem;
  --font-size-s: 1.4rem;
  --font-size-xs: 1.2rem;
  --font-size-xxs: 1rem;

  /* font weight */
  --font-weight-black: 900;
  --font-weight-extraBold: 800;
  --font-weight-bold: 700;
  --font-weight-semiBold: 600;
  --font-weight-medium: 500;
  --font-weight-Regular: 400;
  --font-weight-light: 300;
  --font-weight-extraLight: 200;
  --font-weight-thin: 100;

  /* radius */
  --radius-fill: 80rem;
  --radius-xxl: 3.2rem;
  --radius-xl: 1.6rem;
  --radius-l: 1.2rem;
  --radius-m: 1rem;
  --radius-s: 0.8rem;
  --radius-xs: 0.6rem;
  --radius-xxs: 0.4rem;

  /* spacing */
  --spacing-34: 3.4rem;
  --spacing-30: 3rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-10: 1rem;
  --spacing-8: 0.8rem;
  --spacing-6: 0.6rem;
  --spacing-4: 0.4rem;
}

/* 애니메이션 정의 */
@keyframes fadeInOut {
  0% {
    opacity: 1; /* 보임 */
  }
  50% {
    opacity: 0; /* 중간에 투명해짐 */
    visibility: hidden; /* 보이지 않도록 처리 */
  }
  100% {
    opacity: 1; /* 다시 보임 */
    visibility: visible;
  }
}
