<nav>
  <ul>
    <li data-page="carousel">Carousel</li>
    <li data-page="accordion">Accordion</li>
    <li data-page="alert">Alert</li>
    <li data-page="dialog">Dialog</li>
    <li data-page="table">Table</li>
    <li data-page="table">test 1</li>
    <li data-page="table">test 2</li>
    <li data-page="table">test 3</li>
    <li data-page="table">test 4</li>
    <li data-page="table">test 5</li>
    <li data-page="table">test 6</li>
    <li data-page="table">test 1</li>
    <li data-page="table">test 2</li>
    <li data-page="table">test 3</li>
    <li data-page="table">test 4</li>
    <li data-page="table">test 5</li>
    <li data-page="table">test 6</li>
    <li data-page="table">test 1</li>
    <li data-page="table">test 2</li>
    <li data-page="table">test 3</li>
    <li data-page="table">test 4</li>
    <li data-page="table">test 5</li>
    <li data-page="table">test 6</li>
  </ul>
</nav>
<div class="pagination">
  <button class="material-icons" id="prevBtn">keyboard_arrow_left</button>
  <button class="material-icons" id="nextBtn">keyboard_arrow_right</button>
</div>
